<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGSI OXXO</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="d-flex justify-content-center">
        <div class="display-6 fw-bold mb-5">Welcome to the Oxxo managing application</div>
      </div>
      <%if !user_signed_in?%>
        <div class="d-flex justify-content-center ">
          <div class="display-6"> <a href="/users/sign_in">Log in </a>  to continue</div>
        </div>
      <% end %>
      <div>
      </div>
    </div>
    <%if user_signed_in?%>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <h3>
                Products
                <small class="text-muted">(showing 5 - <%=Product.count%>)</small>
              </h3>
            </div>
            <div>
              <% Product.last(5).each do |product| %>
                <div class="row mb-2 pb-2">
                  <div class="col">
                    <%= product.name%>
                  </div>
                  <div class="col d-flex justify-content-center">
                    <%=link_to 'Edit', edit_product_path(product), class: 'btn btn-primary'%>
                  </div>
                  <div class="col d-flex justify-content-center">
                    <%=button_to 'Remove', product_path(product), method: :delete, class: 'btn btn-danger'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="products/index">See all...</a>
          </div>
          <div class="col">
            <div class="mb-3">
              <h3>
                Customer
                <small class="text-muted">(showing 5 - <%=Costumer.count%>)</small>
              </h3>
            </div>
            <div>
              <% Costumer.last(5).each do |costumer| %>
                <div class="row mb-2 pb-2">
                  <div class="col">
                    <%= costumer.name%>
                  </div>
                  <div class="col">
                    <%=link_to 'Edit', edit_costumer_path(costumer), class: 'btn btn-primary'%>
                  </div>
                  <div class="col">
                    <%=button_to 'Remove', costumer_path(costumer), method: :delete, class: 'btn btn-danger'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="costumers/index">See all...</a>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <hr class="w-50">
        </div>
        <div class="row mt-5">
          <div class="col">
            <div class="mb-3">
              <h3>
                Employees
                <small class="text-muted">(showing 5 - <%=Employee.count%>)</small>
              </h3>
            </div>
            <div>
              <% Employee.last(5).each do |employee| %>
                <div class="row mb-2 pb-2">
                  <div class="col">
                    <%= employee.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_employee_path(employee), class: 'btn btn-primary'%></a>
                  </div>
                  <div class="col">
                    <%=button_to 'Remove', employee_path(employee), method: :delete, class: 'btn btn-danger'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="employees/index">See all...</a>
          </div>
          <div class="col">
            <div class="mb-3">
              <h3>
                Properties
                <small class="text-muted">(showing 5 - <%=Property.count%>)</small>
              </h3>
            </div>
            <div>
              <% Property.last(5).each do |property| %>
                <div class="row mb-2 pb-2">
                  <div class="col">
                    <%= property.name%>
                  </div>
                  <div class="col">
                    <%=link_to 'Edit', edit_property_path(property), class: 'btn btn-primary'%>
                  </div>
                  <div class="col">
                    <%=button_to 'Remove', property_path(property), method: :delete, class: 'btn btn-danger'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="properties/index">See all...</a>
          </div>
        </div>
      </div>
    <%end%>
  </body>
</html>
