<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGSI OXXO</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="display-3">Welcome to the Oxxo service application</div>
      <%if !user_signed_in?%>
        <div>
          <div class="display-6"> <a href="/users/sign_in">Log in</a> to continue</div>
        </div>
      <% else %>
          <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn btn-link'%>
      <% end %>
      <div>
      </div>
    </div>
    <%if user_signed_in?%>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="display-5">Products</div>
            <div>
              <%=link_to 'Add...', new_product_path%>
              <% Product.last(5).each do |product| %>
                <div class="row">
                  <div class="col">
                    <%= product.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_product_path(product)%></a>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Remove', edit_product_path(product)%></a>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="products/index">See all...</a>
          </div>
          <div class="col">
            <div class="display-5">Costumers</div>
            <div>
              <%=link_to 'Add...', new_costumer_path%>
              <% Costumer.last(5).each do |costumer| %>
                <div class="row">
                  <div class="col">
                    <%= costumer.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_costumer_path(costumer)%></a>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Remove', edit_costumer_path(costumer)%></a>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="costumers/index">See all...</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="display-5">Employees</div>
            <div>
              <%=link_to 'Add...', new_employee_path%>
              <% Employee.last(5).each do |employee| %>
                <div class="row">
                  <div class="col">
                    <%= employee.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_employee_path(employee)%></a>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Remove', edit_employee_path(employee)%></a>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="employees/index">See all...</a>
          </div>
          <div class="col">
            <div class="display-5">Property</div>
            <div>
              <%=link_to 'Add...', new_property_path%>
              <% Property.last(5).each do |property| %>
                <div class="row">
                  <div class="col">
                    <%= property.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_property_path(property)%></a>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Remove', edit_property_path(property)%></a>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="properties/index">See all...</a>
          </div>
        </div>
      </div>
    <%end%>
  </body>
</html>
