<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGSI OXXO</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="display-6 fw-bold mb-5">Welcome to the Oxxo managing application</div>
      </div>
      <%if !user_signed_in?%>
        <div>
          <div class="display-6"> <a href="/users/sign_in">Log in</a> to continue</div>
        </div>
      <% end %>
      <div>
      </div>
    </div>
    <%if user_signed_in?%>
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>
              Products
              <small class="text-muted">(latest)</small>
            </h3>
            <div>
              <% Product.last(5).each do |product| %>
                <div class="row">
                  <div class="col">
                    <%= product.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_product_path(product)%></a>
                  </div>
                  <div class="col">
                    <%=button_to 'Remove', product_path(product), method: :delete, class: 'btn btn-link p-0'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="products/index">See all...</a>
          </div>
          <div class="col">
            <h3>
              Customer
              <small class="text-muted">(latest)</small>
            </h3>
            <div>
              <% Costumer.last(5).each do |costumer| %>
                <div class="row">
                  <div class="col">
                    <%= costumer.name%>
                  </div>
                  <div class="col">
                    <%=link_to 'Edit', edit_costumer_path(costumer)%>
                  </div>
                  <div class="col">
                    <%=button_to 'Remove', costumer_path(costumer), method: :delete, class: 'btn btn-link p-0'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="costumers/index">See all...</a>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h3>
              Employees
              <small class="text-muted">(latest)</small>
            </h3>
            <div>
              <% Employee.last(5).each do |employee| %>
                <div class="row">
                  <div class="col">
                    <%= employee.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_employee_path(employee)%></a>
                  </div>
                  <div class="col">
                    <%=button_to 'Remove', employee_path(employee), method: :delete, class: 'btn btn-link p-0'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="employees/index">See all...</a>
          </div>
          <div class="col">
            <h3>
              Properties
              <small class="text-muted">(latest)</small>
            </h3>
            <div>
              <% Property.last(5).each do |property| %>
                <div class="row">
                  <div class="col">
                    <%= property.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', edit_property_path(property)%></a>
                  </div>
                  <div class="col">
                    <%=button_to 'Remove', property_path(property), method: :delete, class: 'btn btn-link p-0'%>
                  </div>
                </div>
              <% end %>
            </div>
            <a href="properties/index">See all...</a>
          </div>
        </div>
      </div>
    <%end%>
  </body>
</html>
