<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGSI OXXO</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <%if !user_signed_in?%>
        <div>
          <div class="display-1">Welcome to the OXXO service application</div>
        </div>
        <div>
          <p> <a href="/users/sign_in">Log in</a> to continue</p>
        </div>
      <% else %>
        <div>
          <div class="display-1">Welcome to the OXXO service application</div>
          <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn btn-link'%>
        </div>
      <% end %>
      <div>
      </div>
    </div>
    <%if user_signed_in?%>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="display-5">Products</div>
            <div>
              <%=link_to 'Add...', products_new_path%>
              <% Product.last(5).each do |product| %>
                <div class="row">
                  <div class="col">
                    <%= product.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', products_edit_path(product)%></a>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Remove', products_edit_path(product)%></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="display-5">Costumers</div>
            <div>
              <%=link_to 'Add...', costumers_new_path%>
              <% Costumer.last(5).each do |costumer| %>
                <div class="row">
                  <div class="col">
                    <%= costumer.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', costumers_edit_path(costumer)%></a>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Remove', costumers_edit_path(costumer)%></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="display-5">Employees</div>
            <div>
              <%=link_to 'Add...', employees_new_path%>
              <% Employee.last(5).each do |employee| %>
                <div class="row">
                  <div class="col">
                    <%= employee.name%>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Edit', employees_edit_path(employee)%></a>
                  </div>
                  <div class="col">
                    <a><%=link_to 'Remove', employees_edit_path(employee)%></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </body>
</html>
